<!-- <div class="text-layout">
  <h1>{{nombre | titlecase}}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{obj | json}}</h1>
</div>

  <button pButton 
          (click)="mostrarNombre()"
          icon="pi pi-bell"
          iconPos="right"
          class="p-button-help"
          label="Cambiar nombre"></button>

<p-card  [header]="nombre | titlecase"
        subheader="Esto es un subheader">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt ducimus soluta neque mollitia exercitationem pariatur maiores nesciunt sed architecto. Maxime officiis voluptatum quas illum recusandae atque ducimus tempore beatae odit?
</p-card> -->
<app-menu></app-menu>
<router-outlet></router-outlet>
